.about{
    text-align: center;
}

.about h2{
    color: rgb(2, 2, 61);
}

.about h2 span{
    color: rgb(129, 70, 2);
}

.about h2 span span{
    color: rgb(129, 70, 2);
    font-family: tahoma;
}

.mission, .vision{
    box-shadow: gray 1px 1px 1px 1px;
    margin: 10px auto;
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    color: rgb(240, 170, 7);
    background-color: rgb(2, 2, 61);
}

.mission h2, .vision h2{
    color: rgb(240, 170, 7);
}

.mission li, .vision li{
    color: white;
    text-align: justify;
    margin: 10px;
}

.mission button, .vision button{
    background: unset;
    border: none;
    outline: none;
    color: greenyellow;
    font-weight: bold;
}

#dots1,
#dots2,
#dots3
{
    font-weight: bold;
}

#more1,
#more2,
#more3
{
    display: none;
}

/* TEAM MEMBERS SECTION */

.team_members{
    box-shadow: gray 1px 1px 1px 1px;
    color: rgb(240, 170, 7);
    width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 6px;
}

.team{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
}

#team{
    background-color: rgb(2, 2, 61);
    border-radius: 6px;
    width: 90%;
    margin: 10px auto;
    box-shadow: rgb(2, 2, 61) 1px 1px 1px 1px;
}

#team span{
    color: greenyellow;
}

#team img{
    margin-top: 10px;
    width: 100px;
    border-radius: 50%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 550px){
    .team{
        display: block;
    }
}

@media screen and (max-width: 470px) {
    .about{
        font-size: 10px;
    }
}